body{
    background-color: greenyellow
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(201, 163, 163);
    padding: 15px;
    color: rgb(184, 187, 13);
    border-radius: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 10px;
}

.nav-links a{
    color: rgb(185, 185, 137);
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: rgb(204, 203, 235);
    border-radius: 50px;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: rgb(88, 88, 42);
}

#menu-toogle{
    display: none;
}

@media(max-width: 600px){
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgb(196, 101, 101);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

.menu-icon {
    display: block;
}

#menu-toogle:checked + .menu-icon + .nav-links {
    display: flex;
}